<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ln.mybatis.mapper.EmpMapper">

<!--    resultMap：设置自定义映射关系-->
<!--    id：唯一标识，不能重复-->
<!--    type：设置映射关系中实体类类型-->
    <resultMap id="empResultMap" type="Emp">
<!--        设置主键的映射关系-->
        <id property="eid" column="eid"></id>
<!--        设置普通字段的映射关系-->
<!--        property：设置映射关系中的属性名，必须是type标签所设置的实体类类型中的属性名-->
<!--        column：设置映射关系中的字段名，必须是sql语句查询出的字段名-->
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
    </resultMap>


    <select id="getAllEmp" resultMap="empResultMap">
        select * from t_emp;
    </select>


<!--处理多对一映射关系：级联属性赋值-->
    <resultMap id="empAndDeptResultMapOne" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
        <result property="dept.deptName" column="dept_name"></result>
        <result property="dept.did" column="did"></result>
    </resultMap>


    <resultMap id="empAndDeptResultMapTwo" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
<!--        处理多对一的映射关系-->
<!--        property：需要处理多对一的映射关系的属性名-->
<!--        javaType：该属性的类型-->
        <association property="dept" javaType="Dept">
            <id property="did" column="did"></id>
            <result property="deptName" column="dept_name"></result>
        </association>
    </resultMap>

    <select id="getEmpAndDept" resultMap="empAndDeptResultMapTwo">
        select *
        from t_emp e left join t_dept d
        on e.did = d.did where e.eid=#{eid};
    </select>




    <resultMap id="empAndDeptResultMap" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
        <!--
            select:设置分步查询的sql的唯一标识（namespace.SQLId或mapper接口的全类名.方法名
            column:设置分布查询的条件
            fetchType:当开启了全局的延迟加载后，可通过此属性手动控制延迟加载的效果
            lazy表示延迟加载，eager表示立即加载
        -->
        <association property="dept"
                     select="com.ln.mybatis.mapper.DeptMapper.getEmpAndDeptByStepTwo"
                     column="did"
                     fetchType="eager">
        </association>
    </resultMap>

<!--    Emp getEmpAndDeptByStepOne(@Param("eid") Integer eid);-->
    <select id="getEmpAndDeptByStepOne" resultMap="empAndDeptResultMap">
        select * from t_emp where eid=#{eid}
    </select>

    <select id="getAllEmps" resultType="Emp">
        select * from t_emp;
    </select>


    <resultMap id="DeptAndEmpTwo" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
<!--        <association property="dept" javaType="Dept">-->
<!--            <id property="did" column="did"></id>-->
<!--            <result property="deptName" column="dept_name"></result>-->
<!--        </association>-->
    </resultMap>
<!--    List<Emp> getDeptAndEmpTwo(@Param("did") Integer did);-->
    <select id="getDeptAndEmpTwo" resultMap="DeptAndEmpTwo">
        select *
        from t_emp
        where did = #{did};
    </select>

</mapper>